@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #F8F4EA;
    color: #2B3467;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 32px;
}

.subtitulo {
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
    width: 180px;
    height: 100px;
    background: #E1D7C6;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.tarjeta-mokepon img {
    width: 80px;
}

input {
    display: none;
}

#boton-mascota {
    width: 120px;
    height: 50px;
    background-color: #E1D7C6;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    color: #2B3467;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #E1D7C6;
}

.img-boton {
    width: 50px;
    height: 50px;
}

#mensajes {
    width: 200px;
    background-color: #8EA7E9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}