@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #F8F4EA;
    color: #2B3467;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 32px;
}

.subtitulo {
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
    width: 180px;
    height: 100px;
    background: #E1D7C6;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.tarjeta-mokepon img {
    width: 80px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #1F8A70;
}

#boton-mascota {
    width: 120px;
    height: 50px;
    background-color: #E1D7C6;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    color: #2B3467;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

#boton-mascota:hover {
    background-color: #1F8A70;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #E1D7C6;
}

#mensajes {
    width: 200px;
    background-color: #1F8A70;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: #8EA7E9;
    font-family: 'Fredoka One', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}